<html>
  <head>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="header"><%- include('header')%></div>
    <div class="content">
      <a href="/new"><button>NEW MESSAGE</button></a>
      <ul>
        <% messages.map((message)=>{%>
        <li>
          <div class="message">
            <p>
              User <em><%= message.user%></em> says : <br />
              <strong><%= message.text %></strong>
            </p>
            <p>Date : <em><%= message.added %></em></p>
            <a href="/open"><button>Open!</button></a>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>
    <div class="footer"><%- include('footer')%></div>
  </body>
</html>
